version: "3.2"
services:
  devel:
    environment:
      COMPOSE_CONVERT_WINDOWS_PATHS: 1
      CHOKIDAR_USEPOLLING: "true"

    build: ./frontend
    ports:
      - "XXVUEPORTXX:8002"
      - "XXVUEUIPORTXX:8000"
    volumes:
      - ./frontend:/src
      - /src/XXPROJECTNAMEXX/node_modules
  